body{
    background:#7861b4;
    color:#26216a;
    font-family:Ariel;
    font-size:14px;
    background-image:url('..images/tile.jpg');
    background-repeat:no-repeat;
    background-position:top center;
    background-size:contain;
}
a{

}
a:hover{
    color:#ffffff;
    font-size:1.2em;
}
a:focus{
    color:#14669d;
}
a:visited{
    color:#2d0a6b;
}
